<app-root></app-root>

<div>
  <h1>My name is <span>{{ UserName }}</span></h1>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt asperiores ducimus et officiis sed provident corporis totam sint delectus, excepturi hic. Necessitatibus repellendus provident aliquid aut doloremque quaerat est blanditiis?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos ad deserunt, voluptatibus aliquam dolores porro voluptate. Sint dolor nemo id nostrum nisi, odit maxime, sunt aspernatur sit deleniti, sed consectetur!</p>

</div>
